/* Fondo blanco para el resto de las páginas */
body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Fondo degradado solo en la página de inicio de sesión */
.login-container {
    background: linear-gradient(135deg, #ff00cc, #3333ff);
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caja de login */
.login-box {
    background: white;
    padding: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo personalizado */
.login-box h1 {
    font-family: 'Billabong', cursive;
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
}

/* Campos de entrada */
.textbox {
    margin-bottom: 10px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 14px;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

/* Botón de iniciar sesión */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #007ac1;
}

/* Mensaje de error */
.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
}

/* Mensaje de registro */
.message {
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

.message a {
    color: black !important; /* Se asegura que el color negro se aplique */
    text-decoration: none;
    font-weight: bold;
}

.message a:hover {
    text-decoration: underline;
}

/* Separador de "O" */
.separator {
    display: flex;
    align-items: center;
    color: #8e8e8e;
    font-size: 14px;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
    margin: 0 10px;
}

.container .login-box .message {
    color: black;
}

.container .login-box .message a {
    color: black;
}
